@page
@model starzipper.github.io.Pages.EducationModel
@{
    ViewData["Title"] = "Education";
}
<h2><strong>Education</strong></h2>
<div className="accordion" id="work-accordion">
    <div className="accordion-item">
        <div className="accordion-header fs-2" id="edu-acc-1">
            <button className="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#edu-collapse-1" aria-expanded="true" aria-controls="edu-collapse-1">
                TrueCoders
            </button>
        </div>
        <div id="edu-collapse-1" className="accordion-collapse collapse" aria-labelledby="edu-acc-1" data-bs-parent="#accordionExample">
            <div className="accordion-body">
                <p> <strong>Software Engineering Student</strong></p>
                <p>January 4th, 2023 - April 17th, 2023</p>
                <p>Topics included: </p>
                <ul>
                    <li>C#</li>
                    <li>SQL</li>
                    <li>HTML/CSS</li>
                    <li>JavaScript</li>
                    <li>Razor</li>
                    <li>Git</li>
                    <li>API's</li>
                </ul>
            </div>
        </div>
    </div>
    <div className="accordion-item">
        <div className="accordion-header fs-2" id="edu-acc-2">
            <button className="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#edu-collapse-2" aria-expanded="false" aria-controls="edu-collapse-2">
                University of South Alabama
            </button>
        </div>
        <div id="edu-collapse-2" className="accordion-collapse collapse" aria-labelledby="edu-acc-2" data-bs-parent="#accordionExample">
            <div className="accordion-body">
                <p><strong>Computer Science Major</strong></p>
                <p>August 2018 - August 2019</p>
            </div>
        </div>
    </div>
</div>