@page
@model starzipper.github.io.Pages.EducationModel
@{
    ViewData["Title"] = "Education";
}
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <h2><strong>Education</strong></h2>
    </li>
    <li class="list-group-item">
        <h4>TrueCoders</h4>
        <p><strong>Software Engineering Student</strong></p>
        <p>January 4th, 2023 - April 17th, 2023</p>
        <div>
            Topics included:
        </div>
        <div>
            C#
        </div>
        <div>
            SQL
        </div>
        <div>
            HTML/CSS
        </div>
        <div>
            JavaScript
        </div>
        <div>
            Razor
        </div>
        <div>
            Git
        </div>
        <div>
            API's
        </div>
    </li>
    <li class="list-group-item">
        <h4>University of South Alabama</h4>
        <p><strong>Computer Science Major</strong></p>
        <p>August 2018 - August 2019</p>
    </li>
</ul>