@page
@model starzipper.github.io.Pages.ExperienceModel
@{
    ViewData["Title"] = "Experience";
}
<h2><strong>Experience</strong></h2>
<div className="accordion" id="work-accordion">
    <div className="accordion-item">
        <div className="accordion-header fs-2" id="exp-acc-1">
            <button className="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#exp-collapse-1" aria-expanded="true" aria-controls="exp-collapse-1">
                TrueCoders
            </button>
        </div>
        <div id="exp-collapse-1" className="accordion-collapse collapse show" aria-labelledby="exp-acc-1" data-bs-parent="#accordionExample">
            <div className="accordion-body">
                <p><strong>Software Engineering Student</strong></p>
                <p>January 4th, 2023 - April 17th, 2023</p>
                <ul>
                    <li>Improved upon existing knowledge of C#, HTML, and Javascript.</li>
                    <li>Learned Git, CSS, SQL, Razor, and APIs.</li>
                    <li>Implemented small scripts / applications throughout the course to solidify knowledge. </li>
                </ul>
            </div>
        </div>
    </div>
    <div className="accordion-item">
        <div className="accordion-header fs-2" id="exp-acc-2">
            <button className="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#exp-collapse-2" aria-expanded="false" aria-controls="exp-collapse-2">
                Titan Coatings
            </button>
        </div>
        <div id="exp-collapse-2" className="accordion-collapse collapse" aria-labelledby="exp-acc-2" data-bs-parent="#accordionExample">
            <div className="accordion-body">
                <p><strong>Quality Technician</strong></p>
                <p>Bessemer, AL ~ January 2nd, 2022 - November 25th, 2022</p>
                <ul>
                    <li>Tested paint samples to ensure they met color and durability requirements.</li>
                    <li>Calculated additions to paint batches to modify the color, physical appearance, and durability to meet standards.</li>
                    <li>Used ratios, percentages, and history to calculate the appropriate amount of material to add to batches.</li>
                    <li>Checked paint samples as they were being filled into drums to ensure cleanliness.</li>
                    <li>Cut sample panels to send to customers upon completion of their batch order.</li>
                </ul>
            </div>
        </div>
    </div>
    <div className="accordion-item">
        <div className="accordion-header fs-2" id="exp-acc-3">
            <button className="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#exp-collapse-3" aria-expanded="false" aria-controls="exp-collapse-3">
                Children's of Alabama
            </button>
        </div>
        <div id="exp-collapse-3" className="accordion-collapse collapse" aria-labelledby="exp-acc-3" data-bs-parent="#accordionExample">
            <div className="accordion-body">
                <p><strong>Inventory Technician</strong></p>
                <p>Birmingham, AL ~ October 2021 - December 2021</p>
                <ul>
                    <li>This was a three month contract. The goal was to catalog all of the hospital's computers in a new inventory database.</li>
                    <li>Recorded computer information swiftly and accurately.</li>
                    <li>Interacted with employees of other departments in a polite and timely manner, so as to minimize disruption.</li>
                    <li>Visited a multitude of departments around the hospital, adapting quickly to the new places and taking note of the area in order to accurately record location information.</li>
                    <li>Proofread entries to ensure accuracy and edited details that were missing, incomplete, or incorrect.</li>
                    <li>Utilized additional databases to find missing details from entries.</li>
                    <li>Constructed maps of the hospital's departments with computer locations and printer information.</li>
                </ul>
            </div>
        </div>
    </div>
</div>