@page
@model starzipper.github.io.Pages.ExperienceModel
@{
    ViewData["Title"] = "Experience";
}
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <h2><strong>Experience</strong></h2>
    </li>
    <li class="list-group-item">
        <h4>TrueCoders</h4>
        <p><strong>Software Engineering Student</strong></p>
        <p>January 4th, 2023 - April 17th, 2023</p>
        <div>
            Improved upon existing knowledge of C#, HTML, and Javascript.
        </div>
        <div>
            Learned Git, CSS, SQL, Razor, and APIs.
        </div>
        <div>
            Implemented small scripts / applications throughout the course to solidify knowledge.
        </div>
    </li>
    <li class="list-group-item">
        <h4>Titan Coatings</h4>
        <p><strong>Quality Technician</strong></p>
        <p>Bessemer, AL ~ January 2nd, 2022 - November 25th, 2022</p>
        <div>
            Tested paint samples to ensure they met color and durability requirements.
        </div>
        <div>
            Calculated additions to paint batches to modify the color, physical appearance, and durability to meet standards.
        </div>
        <div>
            Used ratios, percentages, and history to calculate the appropriate amount of material to add to batches.
        </div>
        <div>
            Checked paint samples as they were being filled into drums to ensure cleanliness.
        </div>
        <div>
            Cut sample panels to send to customers upon completion of their batch order.
        </div>
    </li>
    <li class="list-group-item">
        <h4>Children's of Alabama</h4>
        <p><strong>Inventory Technician</strong></p>
        <p>Birmingham, AL ~ October 2021 - December 2021</p>
        <div>
            This was a three month contract. The goal was to catalog all of the hospital's computers in a new inventory database.
        </div>
        <div>
            Recorded computer information swiftly and accurately.
        </div>
        <div>
            Interacted with employees of other departments in a polite and timely manner, so as to minimize disruption.
        </div>
        <div>
            Visited a multitude of departments around the hospital, adapting quickly to the new places and taking note of the area in order to accurately record location information.
        </div>
        <div>
            Proofread entries to ensure accuracy and edited details that were missing, incomplete, or incorrect.
        </div>
        <div>
            Utilized additional databases to find missing details from entries.
        </div>
        <div>
            Constructed maps of the hospital's departments with computer locations and printer information.
        </div>
    </li>
</ul>