@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-5">Morgan Sayers</h1>
    <p>Software Engineer</p>
    <br/>
    <img className="profile-image img-fluid" alt="profile headshot" src="~/images/morganpicturetrimmed.png" />
    <br/>
    <br/>
    <br/>
    <br/>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><h3>About Me</h3></li>
        <li class="list-group-item">
            I'm a self-starter, hard-worker, and go-getter! <br/>
            I've aspired to become a software engineer since high school and I'm looking forward to getting started in the tech industry! <br/>
            I generally spend most of my free time gaming and I also like to paint occasionally.
        </li>
    </ul>
</div>