@page
@model starzipper.github.io.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects page";
}
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <h2><strong>Projects</strong></h2>
    </li>
    <li class="list-group-item"></li>
</ul>
<div class="card" style="width: 30rem;">
    <img src="~/images/redslime.png" class="card-img-top" alt="Red Slime" style="width: 10rem;">
    <div class="card-body">
        <h5 class="card-title">SlimePen - Slime Breeding Game</h5>
        <p class="card-text">My final project for TrueCoders. It's an API with CRUD functionality and I used C#, Razor, HTML, CSS, JQuery, and JavaScript to create it. It's a basic browser breeding game where you can breed slimes together to have them make fun new colors.</p>
        <a href="https://github.com/Starzipper/Slimepen" target="_blank" rel="noreferrer" class="btn btn-primary">See more</a>
    </div>
</div>
<br/>
<div class="card" style="width: 30rem;">
    <img src="~/images/battleshipsmall.png" class="card-img-top" alt="Battleship" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Battleship</h5>
        <p class="card-text">A battleship game I created using JavaScript in high school.</p>
        <a href="https://studio.code.org/projects/applab/r7J1agPG0-T3PRroRKlQ3BcvejNI_n76fWoBxBEHLhA" target="_blank" rel="noreferrer" class="btn btn-primary">See more</a>
    </div>
</div>