@page
@model starzipper.github.io.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects page";
}
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <h2><strong>Projects</strong></h2>
    </li>

    <li class="list-group-item">
        <a href="https://github.com/Starzipper/Slimepen" target="_blank" rel="noreferrer"><img src="~/images/redslime.png" className="d-block w-100" alt="Red Slime" /></a>
        <div>
            <a href="https://github.com/Starzipper/Slimepen" target="_blank" rel="noreferrer" type="button" class="btn btn-outline-dark">SlimePen - Slime Breeding Game</a>
            <br/>
            <br/>
            <p>My final project for TrueCoders. It's an API with CRUD functionality and I used C#, Razor, HTML, CSS, and JQuery to create it. It's a basic browser breeding game where you can breed slimes together to have them make fun new colors.</p>
        </div>
    </li>
</ul>